
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

h1{
  text-wrap : balance;
}

h1,h2,h3,h4,h5{
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}

.nav{
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  padding: 2rem;
}
a{
  color: inherit;
}
.nav a{
  padding: .51rem;
  border-radius: 5px;
  background-color: rgb(124, 124, 216);
}
.nav a:hover{
  background-color: transparent;
  outline: 1px solid white;
  background-color: black;
  color: white;
}


/* User Book CSS */
.user-input-div{
  margin-top: 3rem;
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
  align-items: start;
  justify-content: space-between;
}

.book-tickets{
  width: 80%;
  margin: 0 auto;
  position: relative;
}


.from button,.to button,.book-tickets-main-container input,.btn-submit-form{
  padding: .6rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: lightblue;
  font-size: 1.1rem;
}

.btn-submit-form{
  position: absolute;
  right: 1rem;
  top : 20rem;
}

.from{
  width: 8%;
}

.to{
  width: 8%;
}



/* Results after Search CSS */
.result-container{
    display: flex;
    width: 80%;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.result-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Select Seat Page CSS */

.main-route-container{
   display: flex;
   justify-content: space-between;
   gap: 2rem;
   background-color: rgb(62, 155, 231);
   width: 85%;
   margin: 0 auto;
   padding: 2rem;
}

.seat-container-grid{
  display: flex;
  padding: 1rem;
  width: 15%;
  justify-content: center;
  margin-left: 4rem;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: lightblue;
}

.seat{
  text-align: center;
  background-color: green;
  padding: 1rem;
}
.seat:hover{
  opacity: .7;
  cursor: pointer;
}

.selected-seat-info{
   outline: 4px solid white;
   width: 60%;
}

a{
  text-decoration: none;
  color: inherit;
}


.booking-confirmation{
  outline: 4px solid hotpink;
  padding: 3rem;
  background-color: red;
}

