
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

h1{
  text-wrap : balance;
}

h1,h2,h3,h4,h5{
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}

.logo{
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  margin-right: auto;
}

/* HERO */

.hero-section{
  display: flex;
  flex-basis: 40%;
  /* padding: 1rem; */
  flex-direction: column;
}

.left{

}

.right{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
img{
  display: block;
  width: 100%;
}


.book-now{
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
  width: fit-content;
  font-size: 1.3rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 1rem;
}

.right h2{
  font-weight: 600;
}


.nav{
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  padding: 1rem 1rem 1rem 5px;
  align-items: center;
  text-align: center;
}
a{
  color: inherit;
}
.nav a,.nav div{
  padding: .51rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(124, 124, 216);
}
.nav a:hover,.nav div:hover{
  background-color: transparent;
  outline: 1px solid white;
  background-color: black;
  color: white;
}


/* User Book CSS */
.user-input-div{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.top-div{
  padding: 0 1rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.from button,.to button,.book-tickets-main-container input,.btn-submit-form{
  padding: .6rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: lightblue;
  font-size: 1.1rem;
}


.from{
  width: 8%;
}

.to{
  width: 8%;
}



/* Results after Search CSS */
.result-container{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    border-radius: .4rem;
    /* overflow: hidden; */
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.result-card{
  background : linear-gradient(to right,rgb(151, 225, 252),rgb(54, 81, 161));
  width: 100%;
  box-shadow: 1px 0px 5px 0px black;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(9rem,100%),1fr));
  gap: 2rem;
  padding: 1rem 0.1rem;
}

.result-card button{
  border-radius: .4rem;
  border: none;
  padding: .51rem;
  font-size: 1.1rem;
  background-color: rgb(219, 219, 242);
  width: 60%;
  margin: 0 auto;
  /* box-shadow: 0px 0px 2px 0px black; */
  cursor: pointer;
}

.result-card >*{
  font-size: 1.08rem;
  text-align: center;
}


/* Select Seat Page CSS */

.main-route-container{
   display: flex;
   background-color: rgb(62, 155, 231);
   width: 95%;
   margin: 0 auto;
   padding: 2rem 1rem;
   gap: 2rem;
   flex-direction: column;
   align-items: center;
}

.seat-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: lightblue;
  padding: 2rem;
  width: 90%;
}

.seat{
  text-align: center;
  background-color: green;
  padding: 1rem;
  border-radius: 8px;
}

.seat:hover{
  opacity: .7;
  cursor: pointer;
}

.selected-seat-info{
   outline: 4px solid white;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 1rem;
  }
  
  .selected-seat-info input{
    padding: .51rem;
    border-radius: 1rem;
    border: none;
    width: 60%;
    font-size: 1.1rem;
    padding-left: 1rem;
  }
  
.info-card{
  display: flex;
  gap: 1rem;
}

.info-card button{
  border-radius: 1rem;
  font-size: 1.1rem;
  border: none;
  padding: .5rem;
}

.selected-seat-info button{
  width: fit-content;
  margin: 0 auto;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  padding: .71rem;
}

a{
  text-decoration: none;
  color: inherit;
}

.details-trip{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

/* FINAL CONFIRMATION CONTAINER */
.booking-confirmation{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width : 768px) {
  .nav{
    padding: 2rem;
  }

  .logo{
    font-size: 2.4rem;
  }
   .main-route-container{
    flex-direction: row;
    align-items: flex-start;
   }
  .result-card{
    width: 80%;
    border-radius: .71rem;
    box-shadow: 0 0px 1px 0px black;
    display: flex;
    flex-direction: column;
  }
  .result-card button{
    width: 22%;
  }
}

@media (min-width : 1024px) {
  .nav{
    justify-content: center;
    align-items: center;
  }
  
  .seat-container-grid{
    padding: 1rem;
    gap: 1rem;
    width: 60%;
  }
  .seat{
    margin: 0 auto;
    width: 70%;
  }
  .top-div{
    justify-content: space-around;
  }
  .result-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 3rem;
  }
  .result-card{
     display: flex;
     gap: 1rem;
  }
  .result-card button{
    width: 50%;
  }

  .hero-section{
    flex-direction: row;
    padding: 1rem;
    gap: 0;
  }

  .hero-section .right{
    width: 60%;
  }

  img{
    width: 80%;
  }

 
}

@media (min-width : 1440px) {
  .hero-section{
    padding: 3rem;
    flex : 1;
  }
  .right{
    padding: 0;
  }
   img{
    width: 80%;
   }
}